@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');

.planetPage {
    background-image: url('../../assets/img/bcStars.png');
}

.back {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 32px;
}

.back > a > img {
    transform: rotate(180deg);
}

.back > a > span {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.back > a > span:hover {
    color: #FFE81F;
    text-decoration: none;
}

.back > a:hover {
    text-decoration: none;
}

.name {
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 56px;
    color: #fff;
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 32px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.text {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    word-break: break-word;
    color: #fff;
    width: 544px;
}