.cardsContainer {
    background-color: #111111;
    padding: 64px 64px 64px 64px;
    margin: -5px 0 0 0;
}

.card {
    width: 18rem;
    margin: 46px;
}

.img {
    width: 80px;
    margin: 0 auto;
    padding-top: 5%;
}

.headPlanetCards {
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

.title {
    text-align: center;
}

.details {
    width: 100%;
    text-align: center;
}

.details > a {
    font-size: 16px;
    color: #eeeeee;
    font-weight: 700;
    background-color: #222;
    padding: 10px 70px;
    transition: 1s;
    border: 1px solid #222;
}

.details > a:hover {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    background-color: #343a40;
    border: 1px solid #eee;
    padding: 10px 70px;
    transition: 1s;
}